<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hand.sxy.job.mapper.JobRecordMapper">
    <resultMap id="BaseResultMap" type="com.hand.sxy.job.dto.JobRecord">
        <id column="JOB_RECORD_ID" property="jobRecordId" jdbcType="DECIMAL" />
        <result column="JOB_NAME" property="jobName" jdbcType="VARCHAR" />
        <result column="JOB_GROUP" property="jobGroup" jdbcType="VARCHAR" />
        <result column="JOB_RESULT" property="jobResult" jdbcType="VARCHAR" />
        <result column="JOB_STATUS" property="jobStatus" jdbcType="VARCHAR" />
        <result column="EXECUTION_SUMMARY" property="executionSummary" jdbcType="VARCHAR" />
        <result column="JOB_STATUS_MESSAGE" property="jobStatusMessage" jdbcType="VARCHAR" />
        <result column="TRIGGER_NAME" property="triggerName" jdbcType="VARCHAR" />
        <result column="TRIGGER_GROUP" property="triggerGroup" jdbcType="VARCHAR" />
        <result column="PREVIOUS_FIRE_TIME" property="previousFireTime" jdbcType="TIMESTAMP" />
        <result column="FIRE_TIME" property="fireTime" jdbcType="TIMESTAMP" />
        <result column="NEXT_FIRE_TIME" property="nextFireTime" jdbcType="TIMESTAMP" />
        <result column="REFIRE_COUNT" property="refireCount" jdbcType="DECIMAL" />
        <result column="FIRE_INSTANCE_ID" property="fireInstanceId" jdbcType="VARCHAR" />
        <result column="SCHEDULER_INSTANCE_ID" property="schedulerInstanceId" jdbcType="VARCHAR" />
        <result column="SCHEDULED_FIRE_TIME" property="scheduledFireTime" jdbcType="TIMESTAMP" />
        <result column="IP_ADDRESS" property="ipAddress" jdbcType="VARCHAR" />
        <result column="CREATE_TIME" property="createTime" jdbcType="DATE" />
        <result column="UPDATE_TIME" property="updateTime" jdbcType="DATE" />
    </resultMap>

    <select id="query" resultMap="BaseResultMap" parameterType="com.hand.sxy.job.dto.JobRecord">
        SELECT * FROM SYS_JOB_RECORD
    </select>

    <delete id="delete" parameterType="com.hand.sxy.job.dto.JobRecord">
        DELETE FROM SYS_JOB_RECORD
        WHERE
          JOB_NAME = #{jobName,jdbcType=VARCHAR} and JOB_GROUP = #{jobGroup,jdbcType=VARCHAR}
    </delete>

    <insert id="insert" parameterType="com.hand.sxy.job.dto.JobRecord">
        INSERT INTO SYS_JOB_RECORD
        (
          JOB_NAME, JOB_GROUP, JOB_RESULT, JOB_STATUS, EXECUTION_SUMMARY, JOB_STATUS_MESSAGE, TRIGGER_NAME, TRIGGER_GROUP,
          PREVIOUS_FIRE_TIME, FIRE_TIME, NEXT_FIRE_TIME, REFIRE_COUNT, FIRE_INSTANCE_ID, SCHEDULER_INSTANCE_ID,
          SCHEDULED_FIRE_TIME, IP_ADDRESS
        )

        value

        ( #{jobName}, #{jobGroup}, #{jobResult}, #{jobStatus}, #{executionSummary}, #{jobStatusMessage}, #{triggerName}, #{triggerGroup},
          #{previousFireTime}, #{fireTime}, #{nextFireTime}, #{refireCount}, #{fireInstanceId}, #{schedulerInstanceId},
          #{scheduledFireTime}, #{ipAddress}
        )
</insert>

</mapper>